html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #DAD7D7;
}

 #sidebar-nav {
    background: #DAD7D7;
}

.list-group-item {
    background: #DAD7D7;
}

.panda-logo {
    padding: 30px;
}

.orders-image {
    margin-left:-5px;
}

.dashboard-cards {
    border-radius: 4px;
    background: #ffffff;
    min-height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 340px;
    column-count: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card {
    column-span: all;
    margin-right: 15px;
    max-height: 70px;

}
.text-card {
    text-align: left;
}

