html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #DAD7D7;
}

.panda-logo {
   padding: 30px; 
}

.orders-image {
    margin-left:-5px;
}

.dashboard-cards {
    border-radius: 1px #8C8888;
}