@page
@model PandaRestaurant.Pages.MenuItems.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title content">Add a new menu item</h1>

<div class="row">
    <div class="offset-4 col-md-4">
        <form method="post" class="form-submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuItem.MenuItemName" class="control-label"></label>
                <input asp-for="MenuItem.MenuItemName" class="form-control" />
                <span asp-validation-for="MenuItem.MenuItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.MenuItemPrepTime" class="control-label"></label>
                <input asp-for="MenuItem.MenuItemPrepTime" class="form-control" />
                <span asp-validation-for="MenuItem.MenuItemPrepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.MenuItemPrice" class="control-label"></label>
                <input asp-for="MenuItem.MenuItemPrice" class="form-control" />
                <span asp-validation-for="MenuItem.MenuItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group row action-form">
                <div class="col-md-6 submit-button">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="col-md-6 back-link">
                    <a asp-page="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
