@page
@model PandaRestaurant.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}
    <h1 class="page-title content">Create a new order for your customer</h1>

    <div class="row">
    <div class="col-md-4 offset-4">
        <form method="post" class="form-submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <select asp-for="Order.OrderStatus" class="form-control" asp-items="Html.GetEnumSelectList<PandaRestaurant.Models.Order.OrderStatusEnum>()"></select>
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDatetime" class="control-label"></label>
                <input asp-for="Order.OrderDatetime" class="form-control" />
                <span asp-validation-for="Order.OrderDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TableID" class="control-label"></label>
                <select asp-for="Order.TableID" class ="form-control" asp-items="ViewBag.TableID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerID" class="control-label"></label>
                <select asp-for="Order.CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group row action-form">
                <div class="col-md-6 submit-button">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="col-md-6 back-link">
                    <a asp-page="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
