@page
@model PandaRestaurant.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="page-title">Edit Customer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.CustomerID" />
            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label">Customer Name</label>
                <input asp-for="Customer.CustomerName" class="form-control input-group-text" />
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="./Index" class="btn btn-outline-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
