@page
@model PandaRestaurant.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div id="table" class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Active Orders</th>
                <th scope="col">Edit Customer</th>
                <th scope="col">Remove Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td scope="row">
                        @{
                            List<int> activeOrders = new List<int>();
                        }
                        @foreach (var order in item.Orders)
                        {
                            if (order.OrderStatus.ToString() != "Paid")
                            {
                                activeOrders.Add(order.OrderID);
                            }
                        }
                        @Html.DisplayFor(modelItem => activeOrders.Count)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CustomerID">Edit</a>
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.CustomerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
