@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <p>TEST</p>
        </div>
        <div class="col-md-4">
            <p>TEST</p>
        </div>
        <div class="col-md-4">
            <p>TEST</p>
        </div>
    </div>
    <!-- Add pagination and sorting using similar way to contoso tutorial. -->
    <div id="table" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Img</th>
                    <th scope="col">Meal Name</th>
                    <th scope="col">Table</th>
                    <th scope="col">Prep Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chicken</td>
                    <td>Table 3</td>
                    <td>20 Mins</td>
                    <td>£100.00</td>
                    <td>Preparing</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Soup</td>
                    <td>Table 1</td>
                    <td>13 Mins</td>
                    <td>£32.00</td>
                    <td>Paid</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pasta</td>
                    <td>Table 4</td>
                    <td>10 Mins</td>
                    <td>£10.00</td>
                    <td>Prepared</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
